{% extends 'base.html' %}

{% block title %}Login - Social Distribution{% endblock %}

{% block content %}
<div class="card">
    <h2>Login to Social Distribution</h2>
    
    <form method="post">
        {% csrf_token %}
        
        {% if form.non_field_errors %}
        <div class="error">
            {% for error in form.non_field_errors %}
                <p style="color:red;">{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}
        
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required autofocus>
        </div>
        
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        
        <button type="submit">Login</button>
    </form>
    
    <div class="link">
        Don't have an account? <a href="{% url 'authors:signup' %}">Sign up</a>
    </div>
</div>
{% endblock %}