<!-- Use this template to provide common structure between all templates -->
<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Social Distribution{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
    <div class="container">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>
</body>
<footer class="footer">
    <p class="footer-text">DodgerBlue</p>
</footer>
</html>